body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* header */

.navigation .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
}

/* global bulleted list */

ul {
  list-style-type: none;
}

/* navigation links */

.ul-links {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-studio {
  font-weight: 400;
}
.ul-links :hover {
  color: #404bbf;
}

.ul-links :active {
  color: #404bbf;
}

/* address links */

.address-links .a-link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.a-link:hover {
  color: #404bbf;
}

.a-link:focus {
  color: #404bbf;
}

.a-link:active {
  color: #404bbf;
}

/* hero image */

.hero {
  background: #2e2f42;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

/* button */

.main-button {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  align-items: flex-start;
  cursor: pointer;
}
.main-button:hover,
.main-button:active,
.main-button:focus {
  background-color: #404bbf;
}

/* Features */

.main-header-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-transform: capitalize;
}
.header-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}
.p-section-Features {
  font-weight: 400;
  font-size: 16px;
  color: #434455;
}

/* Our Team */

.team-background {
  background-color: #f4f4fd;
}
.card-background {
  background-color: #ffffff;
}
/* Our Portfolio */
.nazwa-sekcji-portfolio {
  background-color: #f4f4fd;
}
.main-header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  // line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

/* footer */

.footer-background {
  background-color: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
}

.footer-bright-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}
